.btn {
    padding: 10px 30px;
    font-size: 24px;
    border: 2px solid seagreen;
    background-color: seagreen;
    border-radius: 10px;
    color: beige;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: seagreen;
}